MODE=test
LOCK=true
SWAGGER_PASSWORD=Uit@2024
PORT=8798
LOGGER_ENABLE=true

APP_URL=https://smartchain.ddns.net/Frontend

DATABASE_HOST=mongodb://admin:admin@mongodb:27017/?retryWrites=true&w=majority&appName=supply-chain

EMAIL_FROM="SmartChain" <support@smartchain.com>

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=admin
REDIS_PASSWORD=admin

MAIL_SMTP_HOST=smtp.smartchain.com
MAIL_SMTP_PORT=587
MAIL_SMTP_USER=support
MAIL_SMTP_PASS=*********