MODE=test
LOCK=true
PORT=8798
LOGGER_ENABLE=true

APP_URL=https://smartchain.ddns.net/Frontend

DATABASE_HOST=mongodb+srv://***********:*********@**************.mongodb.net/?retryWrites=true&w=majority&appName=************
EMAIL_FROM="SmartChain" <support@smartchain.com>

REDIS_HOST=localhost
REDIS_PORT=14762
REDIS_USERNAME=default
REDIS_PASSWORD=admin

MAIL_SMTP_HOST=smtp.gmail.com
MAIL_SMTP_PORT=587
MAIL_SMTP_USER=admin@gmail.com
MAIL_SMTP_PASS=ffgjfvyqgiykuyumb