*{
    box-sizing: border-box;
    padding : 0;
    margin: 0;
    font-family: "Poppins" , sans-serif;
}

#login,
#register {
    height: 100vh;
    display: grid;
    position: relative;
    background-color: white;
    align-items: center;
    margin: 0px 10px;
}


.form {
    max-width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 2.5rem 2rem;
    border-radius: 2.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.title {
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    margin-bottom: 9%;
    font-weight: 800;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.box {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
    border-bottom: 1px solid;
    margin-bottom: 2rem;
}

.icon {
    margin-right: 10px;
    font-weight: 1000;
    font-size: 1.2rem;
}

.box_input {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    font-size: 1.1rem;
    padding-block: 10px;
    background: none;
    border: 0;
    outline: 0;
}

.login_eye {
    font-size: larger;
    position: absolute;
    right: 3px;
    top: 13px;
    cursor: pointer;
}

.box:nth-child(2) input {
    padding-right: 1.8rem;
}

.button {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    padding: 0.625rem 0px;
    border: 1px solid;
    border-radius: 35px;
    cursor: pointer;
    margin-bottom: 6%;
    background-color: #488df5;
}

.button:hover {
    background-color: blue;
}

.confirm {
    font-weight: 500;
    text-align: center;
    background: none;
}

.login_regis a,
.regis_login a {
    margin-left: 3px;
    text-decoration: none;
    font-style: italic;
}

.login_regis a:hover,
.regis_login a:hover {
    text-decoration: underline;
}

::placeholder {
    color: black;
    font-weight: 600;
    font-size: 1rem;
}

input:focus::-webkit-input-placeholder {
    opacity: 0.3;
}