a {
    text-decoration: none;
}


.btn.disabled {
    cursor: not-allowed;
}

.btn-indigo {
    background-color: var(--bs-indigo) !important;
    color: #fff !important;
}

.dataTable {

    td,
    th {
        vertical-align: middle;
    }
}

table.table-hover.rounded-bottom {
    tfoot {
        tr {

            th:first-child,
            th:last-child {
                border-radius: var(--bs-border-radius);
            }
        }
    }

    tr {
        th {
            padding-left: 0px !important;
        }

        * {
            padding-left: 1rem;
        }
    }
}

.dt-container>:not(.dt-layout-table) {
    margin: 1rem;
    width: calc(100% - 2rem) !important;
}

.analytics-gradient-1 {
    background: linear-gradient(90deg, #0dc1fd 0%, #2448ff 100%);
    color: #fff;
}

.analytics-gradient-2 {
    background: linear-gradient(90deg, #2add8a 0%, #10633c 100%);
    color: #fff;
}

.analytics-gradient-3 {
    background: linear-gradient(90deg, #ff5264 0%, #b91323 100%);
    color: #fff;
}
