a {
    text-decoration: none;
}

.loader-container.active {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
    background: #33333333;
}

.loader-container {
    display: none;
}

.btn.disabled {
    cursor: not-allowed;
}