<nav id="sidebar" class="active" style="height:100%">
    <h1><a href="index.html" class="logo">M.</a></h1>
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <a href="index.html"><span class="fa fa-fw fa-home"></span> Home</a>
        </li>
        <li>
            <a href="users.html"><span class="fa fa-fw fa-user"></span> User</a>
        </li>
        <li>
            <a href="products.html"><span class="fa fa-fw fa-box"></span> Products</a>
        </li>
        <li>
            <a href="batchs.html"><span class="fa fa-fw fa-cogs"></span> Batches</a>
        </li>
        <li>
            <a href="transporter-bills.html"><span class="fa fa-fw fa-paper-plane"></span> Transporter</a>
        </li>
        <li>
            <a href="#" id="sidebarCollapse"><span class="fa fa-fw fa-bars"></span> Expand Menu</a>
        </li>
    </ul>

    <div class="footer">
        <p>
            Copyright &copy;2024 All rights reserved | This template is made with <i class="fa-solid fa-heart"
                aria-hidden="true"></i> by <a class="text-light" href="#" target="_blank">UIT</a>
        </p>
    </div>
</nav>
<script src="./js/sidebar.js"></script>